/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 2, 2020, 12:12:04 AM
    Author     : KOH
*/

.modTab {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.modTab td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 10px;
}

.modTab tr:nth-child(even) {
  background-color: #dddddd;
}

#widgetC{
    border-radius: 25px;  
    width: 50%;
    padding: 30px 70px 70px 70px;
    background-color: #f6f7f8;
}